<div id="nav-bar">
  <div id="nav-bar-content">
    <div id="nav-bar-left">
      <div style="font-size: 1.5em" class="nav-bar-content">>Sellentt</div>
    </div>
    <div id="nav-bar-right">
      <div *ngIf="!loggedIn()" (click)="onLoginClick()" class="nav-bar-content">Login</div>
      <div *ngIf="loggedIn() && userHasProfile" (click)="onLogoutClick()" class="nav-bar-item">
        Olá {{userDocument?.publicName}}
      </div>
      <div *ngIf="loggedIn()" (click)="onLogoutClick()" class="nav-bar-item" style="margin-left: 10px;">Logout</div>
    </div>
  </div>
</div>

<div *ngIf="isLoggedIn && isCheckingProfile" class="loading-screen" style="text-align: center; margin-top: 100px;">
  <mat-icon class="spinning">sync</mat-icon>
  <p>Carregando perfil do Sellentt...</p>
  <p>Caso demore carregar, de refresh na pagina</p>
  <p>(Não costuma passar de 5 segundos)</p>
</div>

<app-profile *ngIf="isLoggedIn && !isCheckingProfile && !userHasProfile" [show]="true"></app-profile>

<div *ngIf="!isLoggedIn || (isLoggedIn && !isCheckingProfile && userHasProfile)">
  <router-outlet></router-outlet>
</div>