<div id="home-page">
    <div id="home-page-landing">
        <div id="landing-left">
            <div id="landing-left-content">
                <h1> SELLShare </h1>
                <p> 
                    <br style="font-size: 1em;">Compartilhe suas lojas favoritas <br>
                </p>
                <button 
                    (click)="onGetStartedClick()" 
                    mat-flat-button color="warn">Começe já!!
                </button>
            </div>
        </div>
    </div>
    
</div>
